*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}
.conteudo{
    left: 50%;
    margin: 0 0 0 -250px;
    width: 500px;
    height: 40px;
    position: absolute;
}
.h2{
    margin-top:20px;
    font-size: 32px;
    text-transform: uppercase;
}
.btn-ant,.btn-pro{
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color:  #cbd1d2;
    font-size: 16px;
    font-weight: bold;
}
.btn-ant{
    left: 80px;
}
.btn-pro{
    right: 80px;
}
.btn-ant:hover, .btn-pro:hover{
    background: orange;
    color: white;
}
body{
    background-color: white;

}
.conteudo header{
    position: relative;
}
.calendario{
    text-align: center;
}
.conteudo,.calendario header{
    position: relative;
}
.calendario table{
    margin-top: 20px;
    border-collapse: collapse;
}
.calendario thead {
    font-weight: 6000;
    text-transform: uppercase;
    background: white;
    border-bottom: 2px solid blue;
    border-top: 2px blue solid;
    
}
.calendario thead td {
    height: 69.4px ;
}
.calendario thead td:first-child{
    border-left: 2px blue solid;
}
.calendario thead td:last-child{
    border-right: 2px blue solid;
}
.calendario td{
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}
.calendario tbody{
    cursor: pointer;
}
.calendario tbody td:hover{
    background: rgba(0,173,223, 0.3);
    color: #f9f9f9;
}
.calendario table .dia-atual{
    background: #00aaddff;
    color: #f9f9f9;
}
.calendario .mes-anterior, .calendario .proximo-mes{
    color: #cbd1d2;
}
.calendario .mes-anterior:hover, .calendario .proximo-mes:hover {
    background: #98a0a0a0;
}
.event{
    position: relative;
}
.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom:7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00aaddff;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.event:hover::after{
    background: #f9f9f9;
}
.event.dia-atual{
    background:#f9f9f9 ;
}
